@import url('https://fonts.googleapis.com/css2?family=Br+Firma:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;700&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Br Firma';
    font-weight: 300;
}

header{
    /* border-bottom: 1px solid #ccc; */
    min-height: 65px;
    
   
}

.anunciat-btn {
    background-color:#8ce563;
    color: white;
}
.anunciat-btn:hover {
    background-color:#80d558;
}

.titulo01 {
    font-size: 1.2em;
    color: #434343;
    font-family: 'Br Firma';
    font-weight: 400;
    margin: 50px 0 30px 0;
}

.logo{
    width: 150px;
}


.menu{
    /* background-color: red; */
}

/* card */

.card {
   
    overflow: hidden;
    position: relative;
    border: 1px solid #aeafab;
    min-height: 300px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 10px 1px #43434340;
    

}

  
.badge-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #f2810092;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em; /* Ajuste o tamanho do ícone */
  }
  
  .badge-top-left i {
    margin-right: 0px; /* Margem para o espaçamento ao lado do ícone */
  }
  
  .badge-top-right,
  .badge-bottom-right {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
  }
  
  .badge-top-right {
    top: 10px;
    right: 10px;
  }
  
  .badge-bottom-right {
    bottom: 10px;
    right: 10px;
  }
  


.card-img {
    position: relative;
}

.card-title {
    color: #434343;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1em;
    margin: 1px 0 15px 0;
}

.card-img img {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
}



.badge-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}

.card-body {
    padding: 10px;
}

.card-footer {
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Distribui os elementos à esquerda e à direita */
    align-items: center; /* Alinha verticalmente os elementos */
    width: 100%;
}

.card-footer a:hover {
    color: #ffffff;
}

.card-footer .ver-mais {
    text-decoration: none;
    font-size: 0.8em;
    color: white;
    background-color: #8ce563;
}

.card-footer .zap,
.card-footer .save {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 5px 10px; /* Espaçamento ao redor dos ícones */
    border-radius: 5px; /* Arredondamento para os ícones */
}
.card-footer .zap,
.card-footer .save i {

    font-size: 1.1em;
    
}

.card-footer .zap {
    background-color: rgb(243, 243, 243);
}

.card-footer .save {
    background-color: rgb(243, 243, 243);
    margin-left: 10px; /* Espaçamento entre os ícones */
}

/* item por linha */
.col-custom {
    flex: 0 0 20%; /* 20% de largura para cada card */
    max-width: 20%; /* Limita o tamanho máximo para 20% */
  }
  
  @media (max-width: 1200px) {
    .col-custom {
      flex: 0 0 33.33%; /* Para telas menores (3 por linha) */
      max-width: 33.33%;
    }
  }
  
  @media (max-width: 768px) {
    .col-custom {
      flex: 0 0 50%; /* Para telas de tamanho médio (2 por linha) */
      max-width: 50%;
    }
  }
  
  @media (max-width: 576px) {
    .col-custom {
      flex: 0 0 100%; /* Para telas pequenas (1 por linha) */
      max-width: 100%;
    }
  }
  
/* item por linha */


.property-icons i {
    font-size: 0.7em;
    margin-right: 3px;
    /* background-color: red; */
    color: #6e0ad6;
}
.property-icons span {
    font-size: 0.8em;
    margin-right: 10px;
    
}

.publication-date {
    font-size: 0.7em;
    color: #666;
    margin-top: 10px;
}


/* footer */

.footer-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
  }
  
  .footer-menu a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .footer-menu a:hover {
    color: #007bff;
  }
  
  .search-form {
    position: fixed;
    bottom: -100%; /* Inicialmente escondido */
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 20px;
    z-index: 999;
    transition: bottom 0.3s ease-in-out;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-form.active {
    bottom: 60px; /* Mostra acima do rodapé */
  }
  

  /* paginação */

  .paginator {
    background: red !important;
    margin-bottom: 200px !important;
    position: absolute !important;
  }
  